<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="header" id="myHeader">
        <div class="nav-container">
            <h2>Juan Manuel Miramont</h2>
            <a href="/" {% if page.title == "Home" %}class="active-page"{% endif %}>Home</a>
            <a href="/publications" {% if page.title == "Publications" %}class="active-page"{% endif %}>Publications</a>
            <a href="/blog" {% if page.title == "Blog" %}class="active-page"{% endif %}>Blog</a>
        </div>
    </div>

    <title>{{ page.title }} - {{ site.title }}</title>
</head>
<body>
    <main class="page-content">
        {{ content }}
    </main>
    <footer>
        <div class="footer-container">
            <i class="fas fa-envelope"></i> (j)(miramontt)(at)(univ-lille)(dot)(fr) - 
            <a href="https://github.com/jmiramont" target="_blank" aria-label="GitHub">
                <i class="fab fa-github"></i> jmiramont
            </a>
        </div>
    </footer>
</body>
</html>